[submodule "sentences"]
	path = sentences
	url = git@github.com:dhemery/sentences
[submodule "properties"]
	path = properties
	url = git@github.com:dhemery/properties
[submodule "poller"]
	path = poller
	url = git@github.com:dhemery/poller
